.site__body {
    padding-bottom: 10rem;
}


.events:empty::before {
    content: "Fetching events...";
    color: rgba(0, 0, 0, 0.54);
}


.event {
    display: flex;
    align-items: flex-start;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 3px;
    opacity: 1;
    transition: all 500ms ease;
}

.event:not(:last-of-type) {
    margin-bottom: 2em;
}


.event--hidden {
    opacity: 0;
    transform: translateY(-50%);
}


.event__thumbnail {
    flex-shrink: 0;
    width: 20%;
    margin-right: 2em;
}

.event__thumbnail::before {
    content: "";
    display: block;
    padding-top: 100%;
}


.event__title {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
}


.event__details p:last-child {
    margin-bottom: 0;
}


.event__info {
    display: inline-flex;
    align-items: center;
    margin-right: 2em;
    font-size: 0.875em;
    color: rgba(0, 0, 0, 0.38);
}

.event__info::before {
    content: "";
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    margin-right: 0.5em;
    background: center center no-repeat;
    background-size: cover;
    opacity: 0.38;
}


.event__info--when::before {
    background-image: url("../images/calendar.png");
}


.event__info--where::before {
    background-image: url("../images/location.png");
}


@media all and (max-width: 775px), (max-device-width: 775px) {
    .site__body.wrapper {
        width: 90vw;
    }


    .event__thumbnail {
        display: none;
    }


    .event__info {
        display: flex;
    }
}
