.hidden {
    display: none !important;
}


.wrapper {
    width: 90vw;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}


@media all and (max-width: 775px), (max-device-width: 775px) {
    .wrapper {
        width: 80vw;
    }
}
