<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Google Developers Group Cebu</title>

        <link rel="stylesheet" href="/static/stylesheets/base.css">
        <link rel="stylesheet" href="/static/stylesheets/utilities.css">
        <link rel="stylesheet" href="/static/stylesheets/about.css">
    </head>

    <body>
        <figure class="slanted-background"></figure>

        <header class="site__header wrapper">
            <img src="/static/images/gdg-cebu-logo.png" alt="GDG Cebu Logo" class="site__logo">

            <nav class="nav site__nav">
                <a href="/" class="nav__item">About</a>
                <a href="/events" class="nav__item">Events</a>
                <a href="/team" class="nav__item">Team</a>
            </nav>
        </header>

        <main class="site__body wrapper">
            <h1 class="page__title">About GDG Cebu</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dignissimos ex adipisci dicta quam tempora nihil autem iste. Soluta, eveniet esse ducimus fuga libero suscipit obcaecati tenetur ipsam vero enim.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci reprehenderit obcaecati soluta ex earum perspiciatis odio quo, eum, aut possimus architecto at id nobis veniam quas! Nobis voluptatibus assumenda sint.</p>
        </main>
    </body>
</html>
