{% extends 'base.html' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/static/stylesheets/about.css">
{% endblock %}


{% block content %}
    <h1 class="page__title">About GDG Cebu</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dignissimos ex adipisci dicta quam tempora nihil autem iste. Soluta, eveniet esse ducimus fuga libero suscipit obcaecati tenetur ipsam vero enim.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci reprehenderit obcaecati soluta ex earum perspiciatis odio quo, eum, aut possimus architecto at id nobis veniam quas! Nobis voluptatibus assumenda sint.</p>
{% endblock %}
