{% extends 'base.html' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/static/stylesheets/about.css">
{% endblock %}


{% block content %}
    <div>
        <h1 class="page__title">About GDG Cebu</h1>

        <p>Google Developers Group (GDG) Cebu is a non-profit group of amateurs and professionals (technology users, specialists, and developers) who are independent from Google but are enthusiasts and daily users of Google technologies. Members meet and socialize on a regular basis.</p>

        <p>GDG Cebu is an independent group; the activities and opinions expressed by the group should in no way be linked to Google, the corporation.</p>

        <p>The group was organized to provide an avenue for:</p>

        <ol>
            <li>learning about up-to-date Google tools for personal and professional use (for free!)</li>
            <li>networking opportunities</li>
            <li>growing local and international connections</li>
            <li>professionals to help others and share insights on cutting-edge technology</li>
            <li>sharing success stories of individuals who have benefited from being a part of the group</li>
        </ol>

        <p>Should you have further questions, please feel free to contact us at <a href="mailto:gdgcebulead@googlegroups.com">gdgcebulead@googlegroups.com</a>.</p>
    </div>
{% endblock %}
