<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Google Developers Group Cebu{% endblock %}</title>

        <link rel="icon shortcut" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
        <link rel="stylesheet" href="/static/stylesheets/base.css">
        <link rel="stylesheet" href="/static/stylesheets/utilities.css">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <figure class="slanted-background"></figure>

        <header class="site__header wrapper">
            <a href="/">
                <img src="/static/images/gdg-cebu-logo.png" alt="GDG Cebu Logo" class="site__logo">
            </a>

            <nav class="nav site__nav">
                <a href="/" class="nav__item {{ currentPath('/', 'nav__item--current') }}">About</a>
                <a href="/events" class="nav__item {{ currentPath('/events', 'nav__item--current') }}">Events</a>
                <a href="/team" class="nav__item {{ currentPath('/team', 'nav__item--current') }}">Team</a>
            </nav>
        </header>

        <main class="site__body wrapper">
            {% block content %}{% endblock %}
        </main>

        <footer class="site__footer">
            <div class="wrapper">
                <nav class="footer-nav footer-nav--aboutgdg">
                    <p class="footer-nav__title">GDG Cebu</p>
                    <a href="/" class="footer-nav__item">About</a>
                    <a href="/events" class="footer-nav__item">Events</a>
                    <a href="/team" class="footer-nav__item">Team</a>
                </nav>
                <nav class="footer-nav footer-nav--contactus">
                    <p class="footer-nav__title">Contact Us</p>
                    <a href="mailto:gdgcebulead@gmail.com" class="footer-nav__item">Email Us</a>
                    <a href="https://facebook.com/groups/gdgcebu/" target="_blank" class="footer-nav__item">Join our Facebook Group</a>
                    <a href="https://facebook.com/GDGCebuOrg/" target="_blank" class="footer-nav__item">Like our Facebook Page</a>
                </nav>
                <img src="/static/images/gdg-logo.png" alt="GDG Logo" class="footer__logo">
            </div>
            <small class="footer__copyright wrapper">&copy; 2016 Google Developers Group Cebu</small>
        </footer>


        <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
