{% extends 'base.html' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/static/stylesheets/events.css">
{% endblock %}


{% block content %}
    <h1 class="page__title">GDG Cebu Events</h1>

    <div class="events"></div>

    <template id="event">
        <article class="event">
            <img src="/static/images/gdg-logo-gray.png" alt="Event Title" class="event__thumbnail">
            <main class="event__details">
                <header class="event__header">
                    <h1 class="event__title">Event Title</h1>
                    <span class="event__info event__info--when">Event Date</span>
                    <span class="event__info event__info--where">Event Venue</span>
                </header>

                <p>Event Description</p>
            </main>
        </article>
    </template>
{% endblock %}


{% block javascripts %}
    <script src="/static/javascripts/events.js"></script>
{% endblock %}
