{% extends 'base.html' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/static/stylesheets/events.css">
{% endblock %}


{% block content %}
    <h1 class="page__title">GDG Cebu Events</h1>

    <article class="event">
        <img src="/static/images/events/io2016.png" alt="Google IO 2016 Logo" class="event__thumbnail">
        <main class="event__details">
            <header class="event__header">
                <h1 class="event__title">Google IO Extended Cebu</h1>
                <span class="event__info event__info--when">August 5, 2016</span>
                <span class="event__info event__info--where">University of the Philippines Cebu</span>
            </header>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit a blanditiis doloremque quisquam vel recusandae iste accusantium consequatur perferendis aliquam, ducimus dignissimos sed amet qui natus. Neque nihil numquam voluptatem.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nemo est repudiandae atque, quis officiis iure autem at blanditiis similique voluptates vel amet voluptatibus, cumque ab odit temporibus harum dolor.</p>
        </main>
    </article>

    <article class="event">
        <img src="/static/images/events/wtm.png" alt="Women TechMakers Logo" class="event__thumbnail">
        <main class="event__details">
            <header class="event__header">
                <h1 class="event__title">Google IO Extended Cebu</h1>
                <span class="event__info event__info--when">August 5, 2016</span>
                <span class="event__info event__info--where">University of the Philippines Cebu</span>
            </header>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit a blanditiis doloremque quisquam vel recusandae iste accusantium consequatur perferendis aliquam, ducimus dignissimos sed amet qui natus. Neque nihil numquam voluptatem.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nemo est repudiandae atque, quis officiis iure autem at blanditiis similique voluptates vel amet voluptatibus, cumque ab odit temporibus harum dolor.</p>
        </main>
    </article>

    <article class="event">
        <img src="/static/images/gdg-logo-gray.png" alt="GDG Logo" class="event__thumbnail">
        <main class="event__details">
            <header class="event__header">
                <h1 class="event__title">Google IO Extended Cebu</h1>
                <span class="event__info event__info--when">August 5, 2016</span>
                <span class="event__info event__info--where">University of the Philippines Cebu</span>
            </header>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit a blanditiis doloremque quisquam vel recusandae iste accusantium consequatur perferendis aliquam, ducimus dignissimos sed amet qui natus. Neque nihil numquam voluptatem.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nemo est repudiandae atque, quis officiis iure autem at blanditiis similique voluptates vel amet voluptatibus, cumque ab odit temporibus harum dolor.</p>
        </main>
    </article>
{% endblock %}
