{% extends 'base.html' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/static/stylesheets/team.css">
{% endblock %}


{% block content %}
    <h1 class="page__title">GDG Cebu Core Team</h1>

    <ul class="team">
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/shad.jpg" alt="Shad Roi">
            </figure>
            <h2 class="member__name">Shad Roi</h2>
            <h3 class="member__role">Community Manager</h3>
            <div class="social-links">
                <a href="https://facebook.com/shadroi" class="social-link social-link--facebook" target="_blank">Facebook</a>
                <a href="https://github.com/shadroi" class="social-link social-link--github" target="_blank">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/frances.jpg" alt="Frances Marie Teves">
            </figure>
            <h2 class="member__name">Frances Marie Teves</h2>
            <h3 class="member__role">Communications Manager</h3>
            <div class="social-links">
                <a href="https://facebook.com/FrancesMATeves" class="social-link social-link--facebook" target="_blank">Facebook</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/john.jpg" alt="John Irvin Estiamba">
            </figure>
            <h2 class="member__name">John Irvin Estiamba</h2>
            <h3 class="member__role">Program Manager</h3>
            <div class="social-links">
                <a href="https://facebook.com/johnirvinestiamba" class="social-link social-link--facebook" target="_blank">Facebook</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/emelie.jpg" alt="Emelie Diamante Anggoy">
            </figure>
            <h2 class="member__name">Emelie Diamante Anggoy</h2>
            <h3 class="member__role">Program Manager</h3>
            <div class="social-links">
                <a href="https://facebook.com/emelaidiamond" class="social-link social-link--facebook" target="_blank">Facebook</a>
                <a href="https://twitter.com/emelaidiamond" class="social-link social-link--twitter" target="_blank">Twitter</a>
                <a href="https://github.com/emelieanggoy" class="social-link social-link--github" target="_blank">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/kim.jpg" alt="Kim Bismark">
            </figure>
            <h2 class="member__name">Kim Bismark</h2>
            <h3 class="member__role">Sponsorship Manager</h3>
            <div class="social-links">
                <a href="https://facebook.com/kiemburleigh" class="social-link social-link--facebook" target="_blank">Facebook</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/julia.jpg" alt="Julia Menchavez">
            </figure>
            <h2 class="member__name">Julia Menchavez</h2>
            <h3 class="member__role">Partnership Manager</h3>
            <div class="social-links">
                <a href="https://facebook.com/jcmenchavez" class="social-link social-link--facebook" target="_blank">Facebook</a>
                <a href="https://twitter.com/jedijulia" class="social-link social-link--twitter" target="_blank">Twitter</a>
                <a href="https://github.com/jedijulia" class="social-link social-link--github" target="_blank">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/rome.jpg" alt="Rome Nicolas">
            </figure>
            <h2 class="member__name">Rome Nicolas</h2>
            <h3 class="member__role">Social Media / Communications Manager</h3>
            <div class="social-links">
                <a href="https://facebook.com/iamromenicolas" class="social-link social-link--facebook" target="_blank">Facebook</a>
                <a href="https://twitter.com/zuprome" class="social-link social-link--twitter" target="_blank">Twitter</a>
                <a href="https://github.com/zuprome" class="social-link social-link--github" target="_blank">Github</a>
                <a href="http://www.zuprome.com/" class="social-link social-link--website" target="_blank">Website</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/ayrton.jpg" alt="Ayrton Wyn Chrysler Adiong">
            </figure>
            <h2 class="member__name">Ayrton Wyn Chrysler Adiong</h2>
            <h3 class="member__role">Volunteer Lead</h3>
            <div class="social-links">
                <a href="https://facebook.com/ayrtonadiong" class="social-link social-link--facebook" target="_blank">Facebook</a>
                <a href="https://twitter.com/ayrtonified" class="social-link social-link--twitter" target="_blank">Twitter</a>
                <a href="https://github.com/ayrton23" class="social-link social-link--github" target="_blank">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/cheer.jpg" alt="Cheer Cordova">
            </figure>
            <h2 class="member__name">Cheer Cordova</h2>
            <h3 class="member__role">Logistics Manager</h3>
            <div class="social-links">
                <a href="https://facebook.com/simplechay" class="social-link social-link--facebook" target="_blank">Facebook</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/mark.jpg" alt="Mark Win Panerio">
            </figure>
            <h2 class="member__name">Mark Win Panerio</h2>
            <h3 class="member__role">Technical Crew</h3>
            <div class="social-links">
                <a href="https://www.facebook.com/markwinpanerio" class="social-link social-link--facebook" target="_blank">Facebook</a>
                <a href="https://twitter.com/markwin24" class="social-link social-link--twitter" target="_blank">Twitter</a>
                <a href="https://github.com/markwinpanerio" class="social-link social-link--github" target="_blank">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar">
                <img src="/static/images/team/arnelle.jpg" alt="Arnelle Balane">
            </figure>
            <h2 class="member__name">Arnelle Balane</h2>
            <h3 class="member__role">(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧</h3>
            <div class="social-links">
                <a href="https://facebook.com/arnellebalane" class="social-link social-link--facebook" target="_blank">Facebook</a>
                <a href="https://twitter.com/arnellebalane" class="social-link social-link--twitter" target="_blank">Twitter</a>
                <a href="https://github.com/arnellebalane" class="social-link social-link--github" target="_blank">Github</a>
                <a href="https://arnellebalane.com" class="social-link social-link--website" target="_blank">Website</a>
            </div>
        </li>
    </ul>
{% endblock %}
