{% extends 'base.html' %}


{% block stylesheets %}
    <link rel="stylesheet" href="/static/stylesheets/team.css">
{% endblock %}


{% block content %}
    <h1 class="page__title">GDG Cebu Core Team</h1>

    <ul class="team">
        <li class="team__item member">
            <figure class="member__avatar"></figure>
            <h2 class="member__name">Arnelle Balane</h2>
            <div class="social-links">
                <a href="#" class="social-link social-link--facebook">Facebook</a>
                <a href="#" class="social-link social-link--twitter">Twitter</a>
                <a href="#" class="social-link social-link--github">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar"></figure>
            <h2 class="member__name">Arnelle Balane</h2>
            <div class="social-links">
                <a href="#" class="social-link social-link--facebook">Facebook</a>
                <a href="#" class="social-link social-link--twitter">Twitter</a>
                <a href="#" class="social-link social-link--github">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar"></figure>
            <h2 class="member__name">Arnelle Balane</h2>
            <div class="social-links">
                <a href="#" class="social-link social-link--facebook">Facebook</a>
                <a href="#" class="social-link social-link--twitter">Twitter</a>
                <a href="#" class="social-link social-link--github">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar"></figure>
            <h2 class="member__name">Arnelle Balane</h2>
            <div class="social-links">
                <a href="#" class="social-link social-link--facebook">Facebook</a>
                <a href="#" class="social-link social-link--twitter">Twitter</a>
                <a href="#" class="social-link social-link--github">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar"></figure>
            <h2 class="member__name">Arnelle Balane</h2>
            <div class="social-links">
                <a href="#" class="social-link social-link--facebook">Facebook</a>
                <a href="#" class="social-link social-link--twitter">Twitter</a>
                <a href="#" class="social-link social-link--github">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar"></figure>
            <h2 class="member__name">Arnelle Balane</h2>
            <div class="social-links">
                <a href="#" class="social-link social-link--facebook">Facebook</a>
                <a href="#" class="social-link social-link--twitter">Twitter</a>
                <a href="#" class="social-link social-link--github">Github</a>
            </div>
        </li>
        <li class="team__item member">
            <figure class="member__avatar"></figure>
            <h2 class="member__name">Arnelle Balane</h2>
            <div class="social-links">
                <a href="#" class="social-link social-link--facebook">Facebook</a>
                <a href="#" class="social-link social-link--twitter">Twitter</a>
                <a href="#" class="social-link social-link--github">Github</a>
            </div>
        </li>
    </ul>
{% endblock %}
